/* CSS files add styling rules to your content */
/*body {
  background-color: rebeccapurple;
  
  background-position: right top;
  margin: 10% 200px 0 200px;
  border: dotted blue;
  padding: 20px 20px 20px 25px;
}*/

body {
  background-color: white;
}

.header {
    width: 100%;
    background-color: lightpink;
    height: 170px;
    /*display: inline;*/
    /*margin: 1% 10px 1% 1%;*/
    overflow: auto; /*anti na kruvei to overflow (hidden)
                      vazei suromenes mpares*/
}

.container {
    /*width: 100%;
    background-color: grey;*/
    /*overflow: hidden;  with this you dont need the 
                       clears after the floating items*/
}
.first {
    width: 49%;
    height: 100%;
    float: left;
    background-color: skyblue;
    /*margin-top: 0.5%;*/
    /*margin: 1% 1% 1% 1%;*/
    margin-left: 0.5%;
}

.second {
    width: 49%;
    height: 100%;
    float: right;
    background-color: skyblue;
    /*margin: 0.5%;*/
    /*margin: 1% 1% 1% 1%;*/
    margin-right: 0.5%;
}
.clear {
    clear: both;
}

footer {
    width: 100%;
    background-color: lightpink;
    height: 150px;    
    /*margin: 0.3%;*/
    /*float: bottom;*/
}

h3 {
  margin-left: 5px;
  text-align: left;
  background-color: #008B8B;
  font-size: 20px;
}

img {
  padding: 0.5%;
  width: 120px;
  height: 120px;
  float: left;
}

h2{
  float: left;
}

.contacts {
  float: right;
  padding-right: 7px;
}

.contacts li, footer li {
  list-style-type: none;
}

a:link {
  color: blue;
}
a:hover {
  text-decoration: none;
  font-weight: bold;
}

.first h4, p, .second h4 {
  padding-left: 7px;
}

footer li {
  padding-top: 10px;
}